img {
  width: 100%;
}

h1 {
  font-family: sans-serif;
  margin: 0;
  text-align: left;
  color: wheat;
  padding: 82px 40px;
  font-size: 95pt;
}

.banner {
  background-image: url('https://t4.ftcdn.net/jpg/01/76/36/91/240_F_176369102_cTo1QLGp9yrpvfvlcITj3YbuHKSecbH4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 39rem;
}
